<h1>Mechanic Show Page</h1>

<h3>Name: <%= @mechanic.name %></h3>
<p>Experience: <%= @mechanic.years_experience %> years</p>

<h3>Ride being repaired/maintained: </h3>
<ul>
  <% @rides.each do |ride| %>
    <%if ride.open == true %>
      <div id="ride_<%=ride.id%>">
        <li><%= ride.name %>, Thrill Rating: <%= ride.thrill_rating%></li>
      </div>
    <% else %>
      <% next %>
    <% end %>
  <% end %>
</ul>